@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pompiere&family=Reenie+Beanie&family=Sue+Ellen+Francisco&display=swap");

body {
  /* padding: 25%, 25%; */
  display: inline-block;
  height: 100%;
  background-image: url("./images/miku-Background.jpg");
  background-color: rgb(1, 119, 131);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*keeps the second list in its section*/
.sub-list-container {
  text-align: justify;
  width: 49%;
}

section {
  margin-left: 150px;
  width: 79%;
}

.img-section {
  margin: 12%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*Visible box around the Title*/
.box {
  background-color: rgb(134, 70, 255);
  text-align: center;
  border-radius: 20px;
  height: 125px;
  width: 600px;
  margin: none;
}

/*clear box*/
.boxclear {
  margin: 10%;
  background-color: rgba(135, 70, 255, 0);
  height: 150px;
  width: 600px;
}

/*clear box for conting text*/
.boxcleartxt {
  margin: none;
  text-align: justify;
  background-color: rgba(135, 70, 255, 0);
  height: 150px;
  width: 600px;
}

header {
  height: 500 px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: "Sue Ellen Francisco", cursive;
}

h2 {
  font-size: 80px;
  font-family: "Amatic SC", cursive;
}

h3 {
  font-size: 60px;
  font-family: "Amatic SC", cursive;
}

h4 {
  font-family: "Amatic SC", cursive;
}

h5 {
  font-family: "Amatic SC", cursive;
}

h6 {
  font-family: "Amatic SC", cursive;
}

p {
  font-size: 32px;
  font-weight: 600;
  font-family: "Pompiere", cursive;
}

/*makes sure section of text is justified for formality*/
.about-section {
  text-align: justify;
  line-height: 40px;
}

.about-section-container {
  width: 100%;
  margin: auto;
  height: 500px;
}

/*lists formatting*/
ul {
  color: rgb(0, 35, 44);
  font-family: "Pompiere", cursive;
}

ol {
  color: rgb(27, 0, 70);
  font-family: "Pompiere", cursive;
}

li {
  font-size: 28px;
}

/* This controls the footer navagation bar*/
.navbar {
  width: 100%;
  background-color: rgb(27, 0, 70);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: rgb(2, 230, 255);
  text-decoration: none;
  font-size: 17px;
  width: 29.33%;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(77, 255, 201);
}

.navbar a.active {
  background-color: rgb(134, 70, 255);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*keeping lists scetion in a container*/
.ordered-list-container {
  width: 25%;
  height: 250px;
  margin-bottom: -100px;
}

.secondary-h3 {
  margin-bottom: 5px;
}

#middle-section-box-clear {
  height: 500px;
}

/*Colors of links and their reactions formatting*/
a:link {
  color: rgb(77, 255, 201);
}
a:visited {
  color: rgb(134, 70, 255);
}
a:link:hover {
  color: #f15bb5;
}
a:visited:hover {
  color: #f7aef8;
}
